/** @page xmlrpcguide XML-RPC

    @tableofcontents

    XML-RPC is a lightweight but powerful XML over HTTP web service protocol.  The xml module includes builtin support
    for this protocol as described here.  You can find more information about XML-RPC, including the specification, at
    <a href="https://xmlrpc.com/spec.md">xmlrpc.com</a>.

    @section xmlrpcserialization XML-RPC Serialization

    |!%Qore Type|!XML-RPC Type|!Description
    |\c string|\c string|direct conversion to UTF-8 string
    |\c integer|\c i4 or \c string|If the integer requires more than 32 bits to represent, then it is sent as a string
    |\c float|\c double|direct conversion
    |\c number|\c double|conversion to a double for serialization
    |\c boolean|\c boolean|direct conversion
    |\c date|\c iso8601|Absolute date/time values will convert to the default time zone for the calling context for \
        the output string if necessary. Note that relative date/time values (durations) will be serialized with the \
        same format as absolute date/time values.
    |\c binary|\c base64|direct conversion
    |\c list|\c array|direct conversion
    |\c hash|\c struct|direct conversion
    |all others|n/a|All other types will cause an \c XML-RPC-SERIALIZATION-ERROR to be raised.

    Strings preserve all XML character data, including whitespace-only values. Carriage returns are
    emitted as numeric references to survive XML line-ending normalization. Struct names can be empty
    or contain whitespace; an empty name is distinct from the literal name \c "!!empty-hash-key!!".
    Adjacent text and CDATA nodes are concatenated; comments and processing instructions contribute no text.
    An untyped value containing text defaults to string. Empty \c <value/> and \c <value></value> retain
    the historical %Qore \c NOTHING representation. Duplicate member names retain their last value.
    Characters forbidden by XML 1.0 raise \c XMLRPC-SERIALIZATION-ERROR; use \c binary for arbitrary bytes.

    @par Example
    @code{.py}
    hash<auto> customer = {"": "unnamed", "address": "First line\r\nSecond line"};
    string request = make_xmlrpc_call("customer.update", (customer,), 0, "UTF-16LE");
    hash<auto> parsed = parse_xmlrpc_call(request);
    @assert(parsed.params[0] == customer);
    @endcode

    @section xmlrpcapi XML-RPC Classes and Functions

    <b>Classes Providing XML-RPC Functionality</b>
    |!Class|!Description
    |@ref XmlRpcClientIo::XmlRpcClientIo "XmlRpcClientIo"|Recommended async I/O XML-RPC client (see the \
        @ref xmlrpcclientiointro "XmlRpcClientIo" user module)
    |@ref XmlRpcHandler::XmlRpcHandler "XmlRpcHandler"|XML-RPC server handler for the %Qore \c HttpServer (see the \
        @ref xmlrpchandlerintro "XmlRpcHandler" user module)
    |@ref XmlRpcConnection::XmlRpcConnection "XmlRpcConnection"|XML-RPC connection provider (see the \
        @ref xmlrpcconnectionintro "XmlRpcConnection" user module)
    |Qore::Xml::XmlRpcClient|Legacy native XML-RPC client; use @ref XmlRpcClientIo::XmlRpcClientIo "XmlRpcClientIo" for new code

    <b>Functions Providing XML-RPC Functionality</b>
    |!Function Name|!Description
    |@ref Qore::Xml::make_xmlrpc_call() "make_xmlrpc_call()"|Serializes a hash into an XML string formatted for an \
        XML-RPC call
    |@ref Qore::Xml::make_xmlrpc_fault() "make_xmlrpc_fault()"|Serializes a hash into an XML string formatted for \
        an XML-RPC fault response
    |@ref Qore::Xml::make_xmlrpc_value() "make_xmlrpc_value()"|Serializes a hash into an XML string in XML-RPC \
        value format
    |@ref Qore::Xml::make_xmlrpc_response() "make_xmlrpc_response()"|Serializes a hash into an XML string formatted \
        for an XML-RPC response
    |@ref Qore::Xml::parse_xmlrpc_call() "parse_xmlrpc_call()"|deserializies an XML-RPC call string, returning a \
        %Qore hash respresenting the call \
        information.
    |@ref Qore::Xml::parse_xmlrpc_response() "parse_xmlrpc_response()"|deserializies an XML-RPC response string, \
        returning a %Qore hash respresenting the \
        response information.
    |@ref Qore::Xml::parse_xmlrpc_value() "parse_xmlrpc_value()"|deserializies an XML-RPC value tree, returning a \
        %Qore hash respresenting the information.

    <b>Deprecated Functions For XML-RPC Serialization and Deserialization</b>
    - @ref Qore::Xml::makeFormattedXMLRPCCallString "makeFormattedXMLRPCCallString()": deprecated by @ref
      Qore::Xml::make_xmlrpc_call() "make_xmlrpc_call()"
    - @ref Qore::Xml::makeFormattedXMLRPCCallStringArgs "makeFormattedXMLRPCCallStringArgs()": deprecated by @ref
      Qore::Xml::make_xmlrpc_call() "make_xmlrpc_call()"
    - @ref Qore::Xml::makeFormattedXMLRPCCallStringArgsWithEncoding
      "makeFormattedXMLRPCCallStringArgsWithEncoding()": deprecated by @ref Qore::Xml::make_xmlrpc_call()
      "make_xmlrpc_call()"
    - @ref Qore::Xml::makeFormattedXMLRPCCallStringWithEncoding "makeFormattedXMLRPCCallStringWithEncoding()":
      deprecated by @ref Qore::Xml::make_xmlrpc_call() "make_xmlrpc_call()"
    - @ref Qore::Xml::makeFormattedXMLRPCFaultResponseString "makeFormattedXMLRPCFaultResponseString()": deprecated
      by @ref Qore::Xml::make_xmlrpc_fault() "make_xmlrpc_fault()"
    - @ref Qore::Xml::makeFormattedXMLRPCFaultResponseStringWithEncoding
      "makeFormattedXMLRPCFaultResponseStringWithEncoding()": deprecated by @ref Qore::Xml::make_xmlrpc_fault()
      "make_xmlrpc_fault()"
    - @ref Qore::Xml::makeFormattedXMLRPCResponseString "makeFormattedXMLRPCResponseString()": deprecated by @ref
      Qore::Xml::make_xmlrpc_response() "make_xmlrpc_response()"
    - @ref Qore::Xml::makeFormattedXMLRPCResponseStringWithEncoding
      "makeFormattedXMLRPCResponseStringWithEncoding()": deprecated by @ref Qore::Xml::make_xmlrpc_response()
      "make_xmlrpc_response()"
    - @ref Qore::Xml::makeFormattedXMLRPCValueString "makeFormattedXMLRPCValueString()": deprecated by @ref
      Qore::Xml::make_xmlrpc_value() "make_xmlrpc_value()"
    - @ref Qore::Xml::makeXMLRPCCallString "makeXMLRPCCallString()": deprecated by @ref Qore::Xml::make_xmlrpc_call()
      "make_xmlrpc_call()"
    - @ref Qore::Xml::makeXMLRPCCallStringArgs "makeXMLRPCCallStringArgs()": deprecated by @ref
      Qore::Xml::make_xmlrpc_call() "make_xmlrpc_call()"
    - @ref Qore::Xml::makeXMLRPCCallStringArgsWithEncoding "makeXMLRPCCallStringArgsWithEncoding()": deprecated by
      @ref Qore::Xml::make_xmlrpc_call() "make_xmlrpc_call()"
    - @ref Qore::Xml::makeXMLRPCCallStringWithEncoding "makeXMLRPCCallStringWithEncoding()": deprecated by @ref
      Qore::Xml::make_xmlrpc_call() "make_xmlrpc_call()"
    - @ref Qore::Xml::makeXMLRPCFaultResponseString "makeXMLRPCFaultResponseString()": deprecated by @ref
      Qore::Xml::make_xmlrpc_fault() "make_xmlrpc_fault()"
    - @ref Qore::Xml::makeXMLRPCFaultResponseStringWithEncoding "makeXMLRPCFaultResponseStringWithEncoding()":
      deprecated by @ref Qore::Xml::make_xmlrpc_fault() "make_xmlrpc_fault()"
    - @ref Qore::Xml::makeXMLRPCResponseString "makeXMLRPCResponseString()": deprecated by @ref
      Qore::Xml::make_xmlrpc_response() "make_xmlrpc_response()"
    - @ref Qore::Xml::makeXMLRPCResponseStringWithEncoding "makeXMLRPCResponseStringWithEncoding()": deprecated by
      @ref Qore::Xml::make_xmlrpc_response() "make_xmlrpc_response()"
    - @ref Qore::Xml::makeXMLRPCValueString "makeXMLRPCValueString()": deprecated by @ref
      Qore::Xml::make_xmlrpc_value() "make_xmlrpc_value()"
    - @ref Qore::Xml::parseXMLRPCCall "parseXMLRPCCall()": deprecated by @ref Qore::Xml::parse_xmlrpc_call()
      "parse_xmlrpc_call()"
    - @ref Qore::Xml::parseXMLRPCResponse "parseXMLRPCResponse()": deprecated by @ref
      Qore::Xml::parse_xmlrpc_response() "parse_xmlrpc_response()"
    - @ref Qore::Xml::parseXMLRPCValue "parseXMLRPCValue()": deprecated by @ref Qore::Xml::parse_xmlrpc_value()
      "parse_xmlrpc_value()"
*/
