/** @page xmlapioverview API Overview

    @tableofcontents

    All classes, functions and constants of the xml module are in the @ref Qore::Xml "Qore::Xml" namespace. The
    user modules delivered with the xml module are described in @ref xmlusermodules.

    @section xmlclasses Classes

    |!Class|!Description
    |@ref Qore::Xml::XmlDoc "XmlDoc"|For analyzing, querying (XPath), validating and manipulating XML documents
    |@ref Qore::Xml::XmlNode "XmlNode"|Gives information about XML data in an XML document
    |@ref Qore::Xml::XmlReader "XmlReader"|For parsing, validating or iterating through the elements of an XML \
        document as a stream
    |@ref Qore::Xml::SaxIterator "SaxIterator"|An iterator for the elements of an XML string
    |@ref Qore::Xml::FileSaxIterator "FileSaxIterator"|An iterator for the elements of an XML file
    |@ref Qore::Xml::InputStreamSaxIterator "InputStreamSaxIterator"|An iterator for the elements of an XML input \
        stream
    |@ref Qore::Xml::AbstractXmlIoInputCallback "AbstractXmlIoInputCallback"|A callback API for resolving external \
        schema references
    |@ref Qore::Xml::XmlRpcClient "XmlRpcClient"|Legacy native XML-RPC client (deprecated); use the \
        @ref xmlrpcclientiointro "XmlRpcClientIo" user module for new code

    @section xmlfunctiongroups Functions

    - @ref xml_functions "XML functions": XML generation and parsing, validation while parsing, and XSD lexical
      helpers; see @ref xmlserialization and @ref xmlschemavalidation
    - @ref xmlrpc_functions "XML-RPC functions": XML-RPC serialization and parsing; see @ref xmlrpcguide

    @section xmlconstantgroups Constant Groups

    - @ref xml_generation_constants "XML generation constants" (\c XGF_*)
    - @ref xml_parsing_constants "XML parsing constants" (\c XPF_*)
    - @ref XmlNodeTypes "XML node type constants" and @ref XMLElementTypes "XML element type constants"
    - @ref xml_option_constants "module option constants"

    @section xmloptionconstants Module Option Constants

    The following constants give information about the availability of XML functionality (dependent on libxml2
    features at compile time):

    <b>XML Option Constants</b>
    |!Name|!Type|!Description
    |@ref Qore::Xml::Option::HAVE_PARSEXMLWITHRELAXNG "HAVE_PARSEXMLWITHRELAXNG"|\c bool|Indicates if \
        @ref Qore::Xml::parse_xml_with_relaxng() "parse_xml_with_relaxng()" and \
        Qore::Xml::XmlReader::relaxNGValidate() are available
    |@ref Qore::Xml::Option::HAVE_PARSEXMLWITHSCHEMA "HAVE_PARSEXMLWITHSCHEMA"|\c bool|Indicates if \
        @ref Qore::Xml::parse_xml_with_schema() "parse_xml_with_schema()", Qore::Xml::XmlReader::schemaValidate() and \
        Qore::Xml::XmlReader::schemaValidateString() are available

    If either of the above constants are \c False, then calling any of the dependent functions or methods will result
    in a run-time exception.

    @section xmlconstants XML Constants

    All constants (and classes and namespaces) provided by this module are created under the Qore namespace (the main
    namespace for the %Qore Programming Language).

    @section xmlcodetags Function and Method Tags

    Function and method declarations use the language reference's @ref NOOP,
    @ref RUNTIME_NOOP, @ref RET_VALUE_ONLY, @ref CONSTANT and @ref DEPRECATED tags.

    @subsection xmlnamedargs NAMED_ARGS

    This flag indicates that callers can supply arguments by their documented parameter names.
    For example, \c make_xml(data: record) binds record to the data parameter.
*/
